apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: nginx-ingress-default
  namespace: default
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    cert-manager.io/cluster-issuer: letsencrypt-prod
    nginx.ingress.kubernetes.io/proxy-body-size: "50m"
    nginx.ingress.kubernetes.io/proxy-buffer-size: "16k"
    nginx.ingress.kubernetes.io/proxy-buffers-number: "8"
    nginx.ingress.kubernetes.io/tcp-no-delay: "true"
    nginx.ingress.kubernetes.io/tcp-no-push: "true"
    nginx.ingress.kubernetes.io/keep-alive: "true"
    nginx.ingress.kubernetes.io/http2: "true"
spec:
  ingressClassName: nginx
  rules:
  - host: study.nzhussup.com
    http:
      paths:
      - path: /
        pathType: ImplementationSpecific
        backend:
          service:
            name: freestudydrive-service
            port:
              number: 777

  - host: study.nzhussup.dev
    http:
      paths:
      - path: /
        pathType: ImplementationSpecific
        backend:
          service:
            name: freestudydrive-service
            port:
              number: 777

  - host: nzhussup.com
    http:
      paths:
      - path: /
        pathType: ImplementationSpecific
        backend:
          service:
            name: personal-react-website-service
            port:
              number: 8000

  - host: nzhussup.dev
    http:
      paths:
      - path: /
        pathType: ImplementationSpecific
        backend:
          service:
            name: personal-react-website-service
            port:
              number: 8000

  - host: api.nzhussup.com
    http:
      paths:
      - path: /
        pathType: ImplementationSpecific
        backend:
          service:
            name: api-gateway
            port:
              number: 8082

  - host: api.nzhussup.dev
    http:
      paths:
      - path: /
        pathType: ImplementationSpecific
        backend:
          service:
            name: api-gateway
            port:
              number: 8082

  - host: admin.nzhussup.com
    http:
      paths:
      - path: /
        pathType: ImplementationSpecific
        backend:
          service:
            name: panel-frontend-service
            port:
              number: 8020

  - host: admin.nzhussup.dev
    http:
      paths:
      - path: /
        pathType: ImplementationSpecific
        backend:
          service:
            name: panel-frontend-service
            port:
              number: 8020

  tls:
  - hosts:
    - study.nzhussup.com
    - study.nzhussup.dev
    - nzhussup.com
    - nzhussup.dev
    - api.nzhussup.com
    - api.nzhussup.dev
    - admin.nzhussup.com
    - admin.nzhussup.dev
    secretName: default-tls
